<!DOCTYPE html>
<html>
<head>
  <title>Publishing platform publishing components</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag    "publishing_platform_publishing_components/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
