<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>    
  </head>  
  <body>  
    <%= javascript_tag nonce: true do -%>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    <% end %>    
    
    <div class="container py-3">    
      <main>       
        <%= yield %>        
      </main>
    
    </div>  
    <%= javascript_include_tag "application" %>      
  </body>
</html>

